* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    max-width: 512px;
    font-family: "Noto Sans", sans-serif;
}

.wrap {
    background-color: rgb(20, 20, 24);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex-grow: 1;
}

aside {
}

.server-list {
}

.server-list-item {
    padding: 6px 12px;
}

.server-list-item img {
    width: 56px;
    border-radius: 50%;
}

main {
    flex-grow: 1;
    background-color: rgb(30, 30, 35);
    margin-top: 8px;
    border-radius: 24px 0 0 0;
}

.main-header {
    padding: 20px 24px;
}

footer {
    background-color: rgb(45, 45, 50);

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        list-style: none;

        li {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 0;
            
            a {
                padding: 16px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: rgb(255, 255, 255);
                text-align: center;
                font-size: 12px;

                .bi {
                    font-size: 24px;
                }
                img {
                    height: 24px;
                    margin: 4px;
                    border-radius: 50%;
                }
            }
        }
    }
}