* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* structure */

body {
    max-width: 512px;
    font-family: "Noto Sans", sans-serif;
}

.wrap {
    background-color: rgb(20, 20, 24);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex-grow: 1;
}

main {
    flex-grow: 1;
    background-color: rgb(30, 30, 35);
    margin-top: 8px;
    border-radius: 24px 0 0 0;
}

/* aside server list */

.server-list {
    margin-top: 24px;
}

.server-list-item {
    padding: 6px 12px;
    position: relative;
    
    img {
        width: 56px;
        border-radius: 50%;
    }

    &:first-child img {
        border-radius: 16px;
    }
}

.server-list-item-current::after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    content: '';
    height: 50px;
    width: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 5px 5px 0;
}

/* main header */

.main-header {
    padding: 16px 24px 8px 24px;

    h2 {
        font-size: 24px;
        margin-bottom: 8px;
    }
}

.btn-group {
    display: flex;
    gap: 16px;
}

.btn {
    border: none;
    background-color: rgb(56, 58, 66);
    color: rgb(255, 255, 255);
    font-size: 16px;
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
}

.btn-search {
    width: 32px;
    flex-shrink: 1;
}

.btn-add-friend {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
}

/* chat list */

.chat-ul {
    padding: 8px;
}

.chat-li {
    display: flex;
    gap: 8px;
    padding: 16px;
    border-radius: 20px;
    color: rgb(120, 120, 120);
    transition: all 0.25s ease-in-out;

    &:hover {
        background-color: rgb(38, 38, 45);
    }

    .chat-user-thumb {
        flex-shrink: 0;
        position: relative;

        img {
            width: 40px;
            border-radius: 50%;
        }
        .chat-user-status {
            position: absolute;
            right: -5px;
            bottom: -5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 5px solid rgb(30, 30, 35);
        }
        .chat-user-status-offline {
            background-color: rgb(230, 80, 80);
        }
        .chat-user-status-online {
            background-color: rgb(90, 160, 100);
        }
        .chat-user-status-inactive {
            background-color: rgb(230, 170, 65);
        }
    }

    .chat-user {
        flex-grow: 1;

        h3 {
            font-size: 16px;
        }
        p {
            font-size: 14px;
        }
    }
    .chat-time {
        font-size: 12px;
    }
}

/* footer */

footer {
    background-color: rgb(45, 45, 50);

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        list-style: none;

        li {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 0;
            
            a {
                padding: 18px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: rgb(255, 255, 255);
                text-align: center;
                font-size: 12px;

                .bi {
                    font-size: 24px;
                }
                img {
                    height: 24px;
                    margin: 4px;
                    border-radius: 50%;
                }
            }
        }
    }
}